version: 2
updates:
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
    groups:
      github-actions:
        patterns:
          - 'actions/*'
      actions-minor:
        update-types:
          - minor
          - patch

  - package-ecosystem: npm
    directory: /
    schedule:
      interval: weekly
    groups:
      types:
        patterns:
          - '@types/*'
      actions:
        patterns:
          - '@actions/*'
      test-runners:
        patterns:
          - 'jest'
          - '*-jest'
